.Group {
    width: 60%;
    margin: 16px auto;
    padding: 4px 16px;
    border: 1px solid #eee;
    text-align: left;
    font-size: 1.1rem;
    box-shadow: 0 2px 3px #ccc;
}

.GroupName {
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
}

.Table {
    border-spacing: 10px;
}

.GroupHeading {
    text-align: left;
    font-size: 0.8rem;
}

.Number {
    text-align: right;
    /* box-shadow: 0 1px 2px #bbb; */
}

.TeamName {
    width: 100%;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}