.KnockoutFixture {
    margin: 4px;
    width: 80%;
    padding: 4px 8px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    float: left;
}

.LeftScoreInput {
    text-align: right;
    padding-right: 5px;
}

.FixtureTable {
    width: 100%;
}

.FixtureTable tr {
    line-height: 32px;
}
